@font-face {
    font-family: Roboto;
    src: url("./roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: roboto;
    src: url("./roboto/Roboto-Regular.ttf");
}

.body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: roboto, sans-serif;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
}

.nav{
    background-color: whitesmoke;
    color: rgb(42, 44, 44);
    height: 50px;
}

.title-nav{
    font-family: Roboto,sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.card{
    margin: 15px;
    border: 2px solid white;
    width: 100%;
    background-color: white;
}
.header{
    background-color:  rgb(89, 114, 189);
    border: 1px solid rgb(89, 114, 189);
    color: white;
}
a{
    text-decoration: none;
}
li{
    margin: 2px;
}
@media screen and (max-width: 1024px) {
    .container{
        
        grid-template-columns: 1fr 1fr;
        gap: 1,5rem;
        
    }
    .title-nav{
        padding: 5px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 600px) {
    .container{
        
        grid-template-columns: 1fr;
        gap: 1rem;
        
    }
    
}